/* Styles par défaut pour tous les appareils */
.favorite-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.favorite-item img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.favorite-item h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.favorite-item p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.favorite-icon {
    font-size: 20px;
    color: gold; /* Couleur de l'étoile remplie */
    margin-left: 10px;
    cursor: pointer;
}

/* Media Queries pour rendre la page responsive */
@media only screen and (max-width: 768px) {
    .favorite-item {
        padding: 8px;
    }
    
    .favorite-item img {
        width: 80px;
    }
    
    .favorite-item h2 {
        font-size: 16px;
    }
    
    .favorite-item p {
        font-size: 12px;
    }
    
    .favorite-icon {
        font-size: 16px;
    }
}

@media only screen and (max-width: 480px) {
    .favorite-item {
        margin-bottom: 10px;
        padding: 6px;
    }
    
    .favorite-item img {
        width: 60px;
    }
    
    .favorite-item h2 {
        font-size: 14px;
    }
    
    .favorite-item p {
        font-size: 10px;
    }
    
    .favorite-icon {
        font-size: 14px;
        margin-left: 5px;
    }
}
