.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background-color: transparent;
    border: none;
    color: #007bff;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
    padding: 8px;
}

.pagination button:hover {
    color: #0056b3;
}

.pagination .previous,
.pagination .next {
    margin: 0 20px;
    background-color: #f0f0f0;
    border-radius: 50%;
    padding: 10px;
}

.pagination .active {
    color: #fff;
    background-color: #007bff;
    border-radius: 50%;
    padding: 10px;
    font-weight: bold;
}

