<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/asset/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
    <nav>
      <ul>
         <li><button class="nav-button"><a href="/"><i class="fas fa-home"></i> Accueil</a></button></li>
         <li><button class="nav-button"><a href="/search"><i class="fas fa-search"></i> Recherche</a></button></li>
         <li><button class="nav-button"><a href="/favorites"><i class="fas fa-star"></i> Favoris</a></button></li>
         <li><button class="nav-button"><a href="/about"><i class="fas fa-info-circle"></i> À propos</a></button></li>
     </ul>
    </nav>
    </header>
    <main>
        {{ template "content" . }}
    </main>
        <footer>
            <p id="footer-text" class="footer-text">© 2024 Groupie Tracker. Tous droits réservés.</p>
        </footer>
    <script src="/asset/js/main.js"></script>
</body>
</html>
  