<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/asset/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><button class="nav-button"><a href="/">Accueil</a></button></li>
                <li><button class="nav-button"><a href="/search">Recherche</a></button></li>
                <li><button class="nav-button"><a href="/favorites">Favoris</a></button></li>
                <li><button class="nav-button"><a href="/about">À propos</a></button></li>
            </ul>
        </nav>
    </header>
    <main>
        {{ template "content" . }}
    </main>
    <footer>
        <p>© 2024 Groupie Tracker. Tous droits réservés.</p>
    </footer>
    <script src="/asset/js/main.js"></script>
</body>
</html>
  