{{ define "content" }}
<div class="product-details">
    <h1>{{ .ProductName }}</h1>
    <ul>
        <li><strong>ID:</strong> {{ .ID }}</li>
        <li><strong>Allergènes:</strong> {{ .Allergens }}</li>
        <li><strong>Marque:</strong> {{ .Brands }}</li>
        <li><strong>Catégories:</strong> {{ .Categories }}</li>
        <li><strong>Nom générique:</strong> {{ .GenericName }}</li>
        <li><strong>Nom du produit (en français):</strong> {{ .ProductName }}</li>
        <li><strong>Nom du produit (en anglais):</strong> {{ .ProductNameEn }}</li>
        <li><strong>Ingrédients:</strong> {{ .IngredientsText }}</li>
        <!-- Ajoutez d'autres champs selon les besoins -->
    </ul>
</div>
{{ end }}