{{ define "search" }}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultats de recherche</title>
    <link rel="stylesheet" href="/asset/css/style.css">
    <link rel="stylesheet" href="/asset/css/search.css">
    <link rel="stylesheet" href="/asset/css/pagination.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><button class="nav-button"><a href="/"><i class="fas fa-home"></i> Accueil</a></button></li>
                <li><button class="nav-button"><a href="/search"><i class="fas fa-search"></i> Recherche</a></button></li>
                <li><button class="nav-button"><a href="/favorites"><i class="fas fa-star"></i> Favoris</a></button></li>
                <li><button class="nav-button"><a href="/about"><i class="fas fa-info-circle"></i> À propos</a></button></li>
            </ul>
        </nav>
    </header>

    <h1>Résultats de recherche</h1>
    <div id="search-form" class="search-container">
        <form id="search-form">
            <div class="search-input-container">
                <input type="text" id="search-input" placeholder="Rechercher...">
                <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
            </div>
            <!-- Ce sont les differentes types de filtres -->
            <div class="filter-container">
                <label class="filter-label" for="category-filter"><i class="fas fa-filter"></i> Catégorie:</label>
                <select id="category-filter" class="filter-select">
                    <option value="">Toutes catégories</option>
                    <option value="boissons">Boissons</option>
                    <option value="snacks">Snacks</option>
                    <option value="fruits">Fruits</option>
                    <option value="légumes">Légumes</option>
                    <option value="produits-laitiers">Produits laitiers</option>
                    <option value="viandes">Viandes</option>
                </select>
            </div>
            <div class="filter-container">
                <label class="filter-label" for="country-filter"><i class="fas fa-globe"></i> Pays:</label>
                <select id="country-filter" class="filter-select">
                    <option value="">Tous pays</option>
                    <option value="france">France</option>
                    <option value="united-states">États-Unis</option>
                </select>
            </div>
            <div class="filter-container">
                <label class="filter-label" for="nutriscore-filter"><i class="fas fa-heartbeat"></i> Nutriscore:</label>
                <select id="nutriscore-filter" class="filter-select">
                    <option value="">Tous nutriscrores</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </div>
            <div class="filter-container">
                <label class="filter-label" for="nova-filter"><i class="fas fa-rocket"></i> NOVA:</label>
                <select id="nova-filter" class="filter-select">
                    <option value="">Tous NOVA</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="filter-container">
                <label class="filter-label" for="ecoscore-filter"><i class="fas fa-leaf"></i> Eco-score:</label>
                <select id="ecoscore-filter" class="filter-select">
                    <option value="">Tous éco-scores</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </div>
        </form>
    </div>
    <div class="results-container" id="search-results"></div>
    <div class="pagination" id="pagination-container"></div>
  
    <script src="/asset/js/main.js"></script>
    <script>
        document.getElementById('search-form').addEventListener('submit', function(event) {
            event.preventDefault(); 
            searchProducts();
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // C'est pour les log consoles(main.js) tres utiles pour les debugs et Ajout d'écouteurs d'événements aux éléments de formulaire pour déclencher la recherche
            document.getElementById('category-filter').addEventListener('change', function() {
                searchProducts();
            });
            document.getElementById('country-filter').addEventListener('change', function() {
                searchProducts();
            });
            document.getElementById('nutriscore-filter').addEventListener('change', function() {
                searchProducts();
            });
            document.getElementById('nova-filter').addEventListener('change', function() {
                searchProducts();
            });
            document.getElementById('ecoscore-filter').addEventListener('change', function() {
                searchProducts();
            });
        });
    </script>
</body>
</html>
{{ end }}
